@extend %topnav-panels

=transition($value)
  transition: $value


.right-topnav
  width: 100%
  float: right
  overflow: hidden

  a
    padding: 15px 30px
    float: right
    color: $color
    text-decoration: none

    &:hover
      text-decoration: underline

%topnav-panels
  a
    display: block
    padding: 15px
    float: left
    color: $topnav-color
    text-align: center

    &:hover
      background-color: $color
      color: $color-hover

    +transition(all .5s ease)

  .active
    background-color: $color
    color: $color-hover

  width: 100%
  float: left
  overflow: hidden

.left-topnav
  @extend %topnav-panels

  button
    margin-left: -3px
    padding: 14.5px 30px
    border: 0
    border-radius: 0
    background-color: $btn-back
    color: $btn-color
    cursor: pointer

    &:hover
      background-color: $btn-focus

    &:active
      background-color: $btn-focus

  input
    &[type=text]
      height: 100%
      margin: 0
      padding: 14.5px 20px 14.5px 40px
      border: 0
      background-color: $input-back
      background-image: url('../../img/search_icon.png')
      background-repeat: no-repeat
      background-position: 10px 10px
      color: $color

      &:focus
        outline: none
        background-color: $input-focus

    +transition(all .5s ease)

  .search-container
    margin: 0 30px
    float: right

.content-topnav
  @extend %topnav-panels

  display: none
  margin-top: 10px
  background-color: $color

  a
    color: $color-hover

    &:hover
      text-decoration: underline

    +transition(all .5s ease)


