.main-content
  display: none
  height: 50vh
  padding: 30px 15px
  clear: both
  border: 1px solid $btn-color

  h2
    font-weight: 300
    text-transform: uppercase

a
  .active-links
    color: $links-color
    text-decoration: underline

  +transition(all .1s ease)

  .small-4
    border: 1px solid $btn-color

  .grid-container
    border: 1px solid $btn-color

  .cell
    border: 1px solid $red-border

main
  input
    [type=text]
      width: 100%

    [type=email]
      width: 100%

select
  width: 100%

