@import util/mixins
@import util/variables

@import base/foundation-settings
@import base/foundation-includes
//@import base/icons-rendered

@import util/rem-calc
//@import base/fonts


//Import all necessary files:
@import components/header
@import components/main-body
@import components/footer


body
  margin: 0
  font-family: Arial, Helvetica, sans-serif
  font-size: 12px
  overflow-x: hidden

a
  text-decoration: none
